<!DOCTYPE html>
<html>
  <head>
    <title>TravelPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body><br>
  
    <div class="row header-total">
      <% if user_signed_in? %>
        <div class="left-links">
          <h3><%= link_to "Plan My Trip ", "/", class:"header-heading" %><i class="far fa-paper-plane plane"></i><i class="far fa-paper-plane plane"></i></h3>
        </div>
        <div class="right-links">
          <p></p>
          <p id="header-links" ><%= link_to "Logout", destroy_user_session_path, method: :delete, class:"link-design" %></p>
          <p id="header-links" ><%= link_to "My Settings", edit_user_registration_path, class:"link-design" %></p>
          <p id="header-links" ><%= link_to "Current Trip", "/current_trip", class:"link-design" %></p>
          <p id="header-links" ><%= link_to "Past Trips", "/past_trips", class:"link-design" %></p>
          <p id="header-links" ><%= link_to "New Trip", "/new_trip", class:"link-design" %></p>
        </div>
      <% else %>
        <div class="left-links">
          <h3><%= link_to "Plan My Trip", "/", class:"header-heading" %><i class="far fa-paper-plane plane"></i><i class="far fa-paper-plane plane"></i></h3>
        </div>
        <div class="right-links">
          <p></p>
          <p id="header-links" ><%= link_to "Sign up", new_user_registration_path, class:"link-design" %></p>
          <p id="header-links" ><%= link_to "Login", new_user_session_path, class:"link-design" %></p>
        </div>
      <% end %>
    </div>
   
    <%= yield %>
    
  </body>
</html>
